#search-btn {
    width: 7em;
    height: 25px;

} 

#input {
    height: 25px;
}


   #myChart {
        width: 90%;
    }


    #map { height: 30em;
        width: 90%; 
       // margin-left: 10%;

    
    }